.searchSm {
  height: calc(100vh - 90px);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  min-height: 760px;

  &__wrapper {
    width: 570px;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    padding: 30px 20px 0;
    flex: 1;
    box-shadow: 0 2px 10px rgb(32 75 146 / 10%);
    background-color: #fff;
    border-radius: 10px 10px 0 0;

    img {
      margin-top: 12px;
      height: 144px;
      width: 222px;
      object-fit: cover;
    }
  }

  &__title {
    line-height: 30px;
    font-size: 24px;
    letter-spacing: -.01em;
    color: #333d47;
    margin-top: 16px;
    padding-bottom: 39px;
  }

  &__options {
    border-top: 1px solid #e4e8ed;
    background-color: #f6f8fd;
    padding: 0 15px 28px;
    flex: 1;
    box-shadow: 0 2px 10px rgb(32 75 146 / 10%);
    border-radius: 0 0 10px 10px;
    height: fit-content;

    ::ng-deep {
      .mat-tab-header {
        margin: 0 auto;
      }

      .mat-tab-label-content {
        font-size: 12px;
      }
    }

    .search-wrapper {
      padding-top: 30px;

      .small-search-input {
        outline: none;
        border: none;
        height: 100%;
        padding: 14px 24px;
      }

      .small-search-btn {
        border: none;
        height: 100%;
        padding: 14px;
        background: #5495ff;
        color: #ffffff;
      }

      button[disabled] {
        background-color: #a9d5ff;
        cursor: not-allowed;
      }
    }
  }
}

.search-result-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: static;
  transform: translate(0, 0);
  margin-top: 15px;
  height: calc(100vh - 90px);

  .result__wrapper {
    flex: 0 1 66%;
    order: 1;
    background: #fff;
    box-shadow: 0 1px 3px rgb(32 75 146 / 15%);
    border-radius: 5px;
    margin: 0 15px;
  }
  .result__title {
    font-size: 16px;
    font-weight: 700;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    .card {
      flex: 0 1 32%;
    }
  }

}
