<div class="searchSm">
    <div [class.search-result-wrapper]="changeView"
      class="searchSm__wrapper">
      <div *ngIf="!changeView; else searchResult"
        class="searchSm__img"
      >
        <img *ngIf="!advancedSearchTemplate.isActive"
             src="./assets/images/SearchEmployee_Left.png" alt="left">
        <div class="searchSm__title">
          <span>Find Your Colleagues</span>
        </div>
      </div>
      <div class="searchSm__options">
        <mat-tab-group dynamicHeight>
          <mat-tab label="BASIC SEARCH">
            <div class="search-wrapper">
              <form
                [formGroup]="basicForm"
                (ngSubmit)="basicSearch()">
                <input type="search" class="small-search-input" placeholder="John Smith" formControlName="search">
                <button type="submit" [disabled]="basicForm.invalid" class="small-search-btn">SEARCH</button>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="ADVANCED SEARCH" #advancedSearchTemplate>
            <div class="search-wrapper">
              <app-advanced-search
                [data]="contactsData"
                (advancedSearchSubmit)="advancedSearch($event)"
              ></app-advanced-search>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
</div>

<ng-template #searchResult>
  <div class="result__wrapper">
    <h5 class="result__title">{{searchResultsCount ? 'Results' : 'No Results'}}</h5>
    <ng-container *ngIf="searchResultsCount">
      <div class="menu-paginator">
        <mat-paginator [length]="searchResultsCount"
                       [pageSize]="PAGINATION_OPTIONS.PAGE_SIZE"
                       [pageSizeOptions]="PAGINATION_OPTIONS.PAGE_SIZE_OPTIONS"
                       aria-label="Select page"
                       (page)="onPageChange($event)">
        </mat-paginator>
        <button (click)="view = !view">view</button>
      </div>

      <div class="cards" *ngIf="view; else table">
        <app-card
          class="card"
          *ngFor="let card of sliceResult"
          [data]="card"
          [currentUser$]="currentUser$"
          (changeCurrentUser)="changeUser($event)"
        ></app-card>
      </div>
      <ng-template #table>
        <div class="table">
        <app-table
          [dataSource]="sliceResult"
          [displayedColumns]="[tableColumns.Name,
                              tableColumns.LastName,
                              tableColumns.Department,
                              tableColumns.Room]"
          [departments]="departments"
          [currentUser$]="currentUser$"
          (userChange)="changeUser($event)"
        >
        </app-table>
        </div>
      </ng-template>

    </ng-container>
  </div>
</ng-template>
