<div class="searchSm">
    <div [class.search-result-wrapper]="changeView"
      class="searchSm__wrapper">
      <div *ngIf="!changeView; else searchResult"
        class="searchSm__img"
      >
        <img *ngIf="!advancedSearch.isActive"
             src="./assets/images/SearchEmployee_Left.png" alt="left">
        <div class="searchSm__title">
          <span>Find Your Colleagues</span>
        </div>
      </div>
      <div class="searchSm__options">
        <mat-tab-group dynamicHeight>
          <mat-tab label="BASIC SEARCH">
            <div class="search-wrapper">
              <form
                [formGroup]="basicForm"
                (ngSubmit)="basicSearch()">
                <input type="search" class="small-search-input" placeholder="John Smith" formControlName="search">
                <button type="submit" [disabled]="basicForm.invalid" class="small-search-btn">SEARCH</button>
              </form>
            </div>
          </mat-tab>
          <mat-tab label="ADVANCED SEARCH" #advancedSearch>
            <div class="search-wrapper">
              <app-advanced-search
                [options]="contactsData"
              ></app-advanced-search>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
</div>

<ng-template #searchResult>
  <div class="result__wrapper">
    <h5>Result</h5>
  </div>
</ng-template>
