<div class="request">
  <div class="request__wrapper">
    <div class="request__new">
      <div class="request__new-title">New request</div>
      <form
        class="request-form"
        [formGroup]="requestForm"
        (ngSubmit)="leaveRequest()">
        <div class="form-group">
          <label for="type">Type</label>
          <select id="type">
            <option
              *ngFor="let request of requestType"
              value="{{request.name}}"
            >{{request.name}}</option>
          </select>
        </div>
        <button type="submit" [disabled]="requestForm.invalid">SUBMIT</button>
      </form>
    </div>
    <div class="request__active"></div>
  </div>
</div>
