.request__card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%);
  margin: 10px;
  padding: 10px;

  &-data {
    p {
      color: #797979;
    }
  }

  &-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;

    .type,
    .start,
    .end,
    .days {
      font-size: 16px;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
